@model IEnumerable<TelecomWeb.Models.Staff>

@{
    ViewData["Title"] = "Сотрудники";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Образование
            </th>
            <th>
                Должность
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Education)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.PositionName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StaffId">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.StaffId">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.StaffId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
