@model TelecomWeb.Models.Contract

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить этот элемент?</h3>
<div>
    <h4>Контракт</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Дата создания контракта
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractDate)
        </dd>
        <dt class="col-sm-2">
            Дата окончания контракта
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractEndDate)
        </dd>
        <dt class="col-sm-2">
            Номер телефона
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            Оформивший сотрудник
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.FullName)
        </dd>
        <dt class="col-sm-2">
            Абонент
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscriber.FullName)
        </dd>
        <dt class="col-sm-2">
            Тарифный план
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TariffPlan.TariffName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ContractId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
