@model TelecomWeb.Models.Contract

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subscriber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subscriber.SubscriberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TariffPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TariffPlan.TariffPlanId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ContractId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
