@model IEnumerable<TelecomWeb.Models.Contract>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p><table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ContractDate)</th>
            <th>@Html.DisplayNameFor(model => model.ContractEndDate)</th>
            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.Staff.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Subscriber.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.TariffPlan.TariffName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ContractDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ContractEndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Staff.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Subscriber.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.TariffPlan.TariffName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContractId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ContractId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContractId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
