
@{
    ViewData["Title"] = "Table";
}

@model IEnumerable<TelecomApp.Models.TariffPlan>

<h2>Tariffs List</h2>

<table>
    <thead>
        <tr>
            <th>TariffPlanId</th>
            <th>LocalCallRate</th>
            <th>LongDistanceCallRate</th>
            <th>MmsRate</th>
            <th>SmsRate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tariff in Model)
        {
            <tr>
                <td>@tariff.TariffPlanId</td>
                <td>@tariff.LocalCallRate</td>
                <td>@tariff.LongDistanceCallRate</td>
                <td>@tariff.MmsRate</td>
                <td>@tariff.SmsRate</td>
            </tr>
        }
    </tbody>
</table>


