@model TelecomWeb.Models.TariffPlan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TariffPlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TariffName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TariffName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubscriptionFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalCallRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalCallRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongDistanceCallRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDistanceCallRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternationalCallRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternationalCallRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPerSecond)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPerSecond)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmsRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmsRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MmsRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MmsRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRatePerMb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRatePerMb)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TariffPlanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
