@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Пользователи"; 
    var currentUserId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Where(u => u.Id != currentUserId))
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">Редактирование</a> |
                    <a asp-action="Details" asp-route-id="@user.Id">Подробность</a> |
                    <a asp-action="Delete" asp-route-id="@user.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
